/* body styles below */
body {
    font-family: 'Oxygen', sans-serif;
}

/* header styles below */
.grid {
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.logo {
    width: 100px;
    margin-top: 10px;
    margin-left: 0px;
}

.name {
  font-size: 42px;
  font-weight: 100;
  color: #2d3c49;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 20px;
  margin-bottom: 0;
  margin-right: 20px;
  text-align: right;

}

.subname {
  font-size: 24px;
  font-weight: 300;
  color: #2d3c49;
  text-transform: uppercase;
  margin-top: 0;
  margin-right: 20px;
  text-align: right;

}
.center {
  width: 100%;
}
.featured {
  width: 30%;
  font-size: 28px;
  color: #7d97ad;
  font-weight: 300;
  letter-spacing: 2px;
  align-self: flex-start;
}

.title {
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 10px;
  color: #02b3e4;
  text-align: center;
  padding-top: 10px;
}

.url {
  font-size: 10px;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 5px;
  color: #000;
  text-align: center;
  padding-top: 5px;
}

.flex-container-column{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.flex-container-header {
  padding: 5px;
  margin: 5px;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: space-between;
}

.flex-item--logo{
  align-self: flex-start;
}

.flex-item-name{
  align-self: flex-end;
}

.flex-container {
  padding: 5px;
  margin: 5px;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: space-around;
}

.flex-item {          
  padding: 5px;  
  margin-top: 5px;
  color: white;
  text-align: center;
}